# BTECH/10029/22 [LAB-2 ASSIGNMENT] [22-08-2024]

### QUESTION 1

In [3]:
import random
import numpy as np
from scipy import stats

def calculate_statistics(data):
    data_np = np.array(data)
 
    mean = np.mean(data_np)

    mode_result = stats.mode(data_np)
    mode = mode_result.mode[0]  

    median = np.median(data_np)

    std_dev = np.std(data_np, ddof=0)

    variance = np.var(data_np, ddof=0)
   
    Q1 = np.percentile(data_np, 25)
    Q3 = np.percentile(data_np, 75)

    IQR = Q3 - Q1
    
    percentile_10 = np.percentile(data_np, 10)
    percentile_90 = np.percentile(data_np, 90)
    
    return {
        'Mean': mean,
        'Mode': mode,
        'Median': median,
        'Standard Deviation': std_dev,
        'Variance': variance,
        'Q1': Q1,
        'Q3': Q3,
        'IQR': IQR,
        '10th Percentile': percentile_10,
        '90th Percentile': percentile_90
    }

random_numbers = [random.randint(0, 100) for _ in range(100)]

statistics = calculate_statistics(random_numbers)
for key, value in statistics.items():
    print(f"{key}: {value}")

Mean: 49.4
Mode: 16
Median: 50.5
Standard Deviation: 30.081888238606297
Variance: 904.9199999999998
Q1: 21.75
Q3: 77.75
IQR: 56.0
10th Percentile: 9.0
90th Percentile: 90.10000000000001

### QUESTION 2

In [7]:
import pandas as pd
df = pd.read_csv('C:\\Users\\BIT\\Downloads\\IPL.csv')

A)

In [8]:
row_indices = df.index.tolist()
column_names = df.columns.tolist()

print("Row Indices:", row_indices)
print("Column Names:", column_names)

Row Indices: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129]
Column Names: ['Sl.NO.', 'PLAYER NAME', 'AGE', 'COUNTRY', 'TEAM', 'PLAYING ROLE', 'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B', 'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S', 'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS', 'AVE-BL', 'ECON', 'SR-BL', 'AUCTION YEAR', 'BASE PRICE', 'SOLD PRICE']

B)

In [21]:
print("\nTransposed DataFrame:")
print(df.T)

print("\nFirst 5 rows of the Transposed DataFrame:")
print(df.T.head())

print("\nFirst 3 columns of the original DataFrame:")
print(df.iloc[:, :3])

print("\nRows 2 to 5 and specific columns:")
print(df.loc[2:5, ['TEAM', 'PLAYER NAME']])

Transposed DataFrame:
                       0             1            2          3    \
Sl.NO.                   1             2            3          4
PLAYER NAME    Abdulla, YA  Abdur Razzak  Agarkar, AB  Ashwin, R
AGE                      2             2            2          1
COUNTRY                 SA           BAN          IND        IND
TEAM                  KXIP           RCB          KKR        CSK
PLAYING ROLE    Allrounder        Bowler       Bowler     Bowler
T-RUNS                   0           214          571        284
T-WKTS                   0            18           58         31
ODI-RUNS-S               0           657         1269        241
ODI-SR-B               0.0         71.41        80.62      84.56
ODI-WKTS                 0           185          288         51
ODI-SR-BL              0.0          37.6         32.9       36.8
CAPTAINCY EXP            0             0            0          0
RUNS-S                   0             0          167         58
HS                       0             0           39         11
AVE                    0.0           0.0        18.56        5.8
SR-B                   0.0           0.0       121.01      76.32
SIXERS                   0             0            5          0
RUNS-C                 307            29         1059       1125
WKTS                    15             0           29         49
AVE-BL               20.47           0.0        36.52      22.96
ECON                   8.9          14.5         8.81       6.23
SR-BL                13.93           0.0         24.9      22.14
AUCTION YEAR          2009          2008         2008       2011
BASE PRICE           50000         50000       200000     100000
SOLD PRICE           50000         50000       350000     850000

                        4           5          6              7           8    \
Sl.NO.                    5           6          7              8           9
PLAYER NAME    Badrinath, S  Bailey, GJ  Balaji, L  Bollinger, DE    Botha, J
AGE                       2           2          2              2           2
COUNTRY                 IND         AUS        IND            AUS          SA
TEAM                    CSK         CSK       CSK+            CSK          RR
PLAYING ROLE        Batsman     Batsman     Bowler         Bowler  Allrounder
T-RUNS                   63           0         51             54          83
T-WKTS                    0           0         27             50          17
ODI-RUNS-S               79         172        120             50         609
ODI-SR-B              45.93       72.26      78.94          92.59       85.77
ODI-WKTS                  0           0         34             62          72
ODI-SR-BL               0.0         0.0       42.5           31.3        53.0
CAPTAINCY EXP             0           1          0              0           1
RUNS-S                 1317          63         26             21         335
HS                       71          48         15             16          67
AVE                   32.93        21.0       4.33           21.0       30.45
SR-B                 120.71       95.45      72.22         165.88      114.73
SIXERS                   28           0          1              1           3
RUNS-C                    0           0       1342            693         610
WKTS                      0           0         52             37          19
AVE-BL                  0.0         0.0      25.81          18.73       32.11
ECON                    0.0         0.0       7.98           7.22        6.85
SR-BL                   0.0         0.0       19.4          15.57       28.11
AUCTION YEAR           2011        2009       2011           2011        2011
BASE PRICE           100000       50000     100000         200000      200000
SOLD PRICE           800000       50000     500000         700000      950000

                       9    ...          120             121        122  \
Sl.NO.                  10  ...          121             122        123
PLAYER NAME    Boucher, MV  ...  Vettori, DL  Vinay Kumar, R  Warne, SK
AGE                      2  ...            2               2          3
COUNTRY                 SA  ...           NZ             IND        AUS
TEAM                  RCB+  ...          DD+            RCB+         RR
PLAYING ROLE     W. Keeper  ...   Allrounder          Bowler     Bowler
T-RUNS                5515  ...         4486              11       3154
T-WKTS                   1  ...          359               1        708
ODI-RUNS-S            4686  ...         2105              43       1018
ODI-SR-B             84.76  ...        81.93           43.87      72.04
ODI-WKTS                 0  ...          282              28        293
ODI-SR-BL              0.0  ...         45.7            35.3       36.3
CAPTAINCY EXP            1  ...            1               0          1
RUNS-S                 394  ...          121             217        198
HS                      50  ...           29              25         34
AVE                  28.14  ...        15.13            9.43        9.9
SR-B                127.51  ...       107.08          104.83      92.52
SIXERS                  13  ...            2               5          6
RUNS-C                   0  ...          878            1664       1447
WKTS                     0  ...           28              61         57
AVE-BL                 0.0  ...        31.36           27.28      25.39
ECON                   0.0  ...         6.81            8.24       7.27
SR-BL                  0.0  ...        27.75           19.87      20.95
AUCTION YEAR          2008  ...         2008            2011       2008
BASE PRICE          200000  ...       250000          100000     450000
SOLD PRICE          450000  ...       625000          475000     450000

                      123        124        125          126           127  \
Sl.NO.                124        125        126          127           128
PLAYER NAME    Warner, DA  White, CL  Yadav, AS  Younis Khan  Yuvraj Singh
AGE                     1          2          2            2             2
COUNTRY               AUS        AUS        IND          PAK           IND
TEAM                   DD       RCB+         DC           RR         KXIP+
PLAYING ROLE      Batsman    Batsman    Batsman      Batsman       Batsman
T-RUNS                483        146          0         6398          1775
T-WKTS                  2          5          0            7             9
ODI-RUNS-S            876       2037          0         6814          8051
ODI-SR-B            85.79      80.48        0.0        75.78         87.58
ODI-WKTS                0         12          0            3           109
ODI-SR-BL             0.0       27.5        0.0         86.6          44.3
CAPTAINCY EXP           0          1          0            1             1
RUNS-S               1025        745         49            3          1237
HS                    109         78         16            3            66
AVE                  27.7      31.04        9.8          3.0         26.32
SR-B               135.76     132.09     125.64        42.85        131.88
SIXERS                 44         29          2            0            67
RUNS-C                  0         70          0            0           569
WKTS                    0          0          0            0            23
AVE-BL                0.0        0.0        0.0          0.0         24.74
ECON                  0.0       14.0        0.0          0.0          7.02
SR-BL                 0.0        0.0        0.0          0.0         21.13
AUCTION YEAR         2011       2008       2010         2008          2011
BASE PRICE         200000     100000      50000       225000        400000
SOLD PRICE         750000     500000     750000       225000       1800000

                       128         129
Sl.NO.                 129         130
PLAYER NAME    Zaheer Khan  Zoysa, DNT
AGE                      2           2
COUNTRY                IND          SL
TEAM                   MI+          DC
PLAYING ROLE        Bowler      Bowler
T-RUNS                1114         288
T-WKTS                 288          64
ODI-RUNS-S             790         343
ODI-SR-B             73.55       95.81
ODI-WKTS               278         108
ODI-SR-BL             35.4        39.4
CAPTAINCY EXP            0           0
RUNS-S                  99          11
HS                      23          10
AVE                    9.9        11.0
SR-B                 91.67      122.22
SIXERS                   1           0
RUNS-C                1783          99
WKTS                    65           2
AVE-BL               27.43        49.5
ECON                  7.75         9.0
SR-BL                21.26        33.0
AUCTION YEAR          2008        2008
BASE PRICE          200000      100000
SOLD PRICE          450000      110000

[26 rows x 130 columns]

First 5 rows of the Transposed DataFrame:
                     0             1            2          3             4    \
Sl.NO.                 1             2            3          4             5
PLAYER NAME  Abdulla, YA  Abdur Razzak  Agarkar, AB  Ashwin, R  Badrinath, S
AGE                    2             2            2          1             2
COUNTRY               SA           BAN          IND        IND           IND
TEAM                KXIP           RCB          KKR        CSK           CSK

                    5          6              7         8            9    ...  \
Sl.NO.                6          7              8         9           10  ...
PLAYER NAME  Bailey, GJ  Balaji, L  Bollinger, DE  Botha, J  Boucher, MV  ...
AGE                   2          2              2         2            2  ...
COUNTRY             AUS        IND            AUS        SA           SA  ...
TEAM                CSK       CSK+            CSK        RR         RCB+  ...

                     120             121        122         123        124  \
Sl.NO.               121             122        123         124        125
PLAYER NAME  Vettori, DL  Vinay Kumar, R  Warne, SK  Warner, DA  White, CL
AGE                    2               2          3           1          2
COUNTRY               NZ             IND        AUS         AUS        AUS
TEAM                 DD+            RCB+         RR          DD       RCB+

                   125          126           127          128         129
Sl.NO.             126          127           128          129         130
PLAYER NAME  Yadav, AS  Younis Khan  Yuvraj Singh  Zaheer Khan  Zoysa, DNT
AGE                  2            2             2            2           2
COUNTRY            IND          PAK           IND          IND          SL
TEAM                DC           RR         KXIP+          MI+          DC

[5 rows x 130 columns]

First 3 columns of the original DataFrame:
     Sl.NO.   PLAYER NAME  AGE
0         1   Abdulla, YA    2
1         2  Abdur Razzak    2
2         3   Agarkar, AB    2
3         4     Ashwin, R    1
4         5  Badrinath, S    2
..      ...           ...  ...
125     126     Yadav, AS    2
126     127   Younis Khan    2
127     128  Yuvraj Singh    2
128     129   Zaheer Khan    2
129     130    Zoysa, DNT    2

[130 rows x 3 columns]

Rows 2 to 5 and specific columns:
  TEAM   PLAYER NAME
2  KKR   Agarkar, AB
3  CSK     Ashwin, R
4  CSK  Badrinath, S
5  CSK    Bailey, GJ

C)

In [10]:
print("Shape of the DataFrame:", df.shape)

print("Info about DataFrame:")
df.info()

Shape of the DataFrame: (130, 26)
Info about DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

D)

In [11]:
team_counts = df['TEAM'].value_counts()
team_percentages = df['TEAM'].value_counts(normalize=True) * 100

print("Team-wise Player Counts:")
print(team_counts)
print("\nTeam-wise Player Percentages:")
print(team_percentages)

Team-wise Player Counts:
CSK      14
RCB+     12
KKR+     12
DD+      10
DC+      10
RR+       9
RCB       9
DC        7
KXIP+     7
MI        6
DD        6
MI+       6
RR        6
CSK+      5
KKR       5
KXIP      5
KXI+      1
Name: TEAM, dtype: int64

Team-wise Player Percentages:
CSK      10.769231
RCB+      9.230769
KKR+      9.230769
DD+       7.692308
DC+       7.692308
RR+       6.923077
RCB       6.923077
DC        5.384615
KXIP+     5.384615
MI        4.615385
DD        4.615385
MI+       4.615385
RR        4.615385
CSK+      3.846154
KKR       3.846154
KXIP      3.846154
KXI+      0.769231
Name: TEAM, dtype: float64

E)

In [12]:
team_country_ct = pd.crosstab(df['TEAM'], df['COUNTRY'])
country_role_ct = pd.crosstab(df['COUNTRY'], df['PLAYING ROLE'])

print("TEAM-wise COUNTRY-wise Count of Players:")
print(team_country_ct)
print("\nCOUNTRY-wise PLAYING ROLE-wise Count of Players:")
print(country_role_ct)

TEAM-wise COUNTRY-wise Count of Players:
COUNTRY  AUS  BAN  ENG  IND  NZ  PAK  SA  SL  WI  ZIM
TEAM
CSK        4    0    1    6   1    0   2   0   0    0
CSK+       0    0    0    3   1    0   0   1   0    0
DC         0    0    0    1   0    1   1   3   1    0
DC+        3    0    0    5   1    0   0   0   1    0
DD         2    0    0    1   0    2   0   1   0    0
DD+        2    0    0    5   1    0   1   1   0    0
KKR        1    0    0    1   0    2   0   0   0    1
KKR+       3    0    0    5   1    0   1   1   1    0
KXI+       1    0    0    0   0    0   0   0   0    0
KXIP       2    0    0    1   0    0   1   0   1    0
KXIP+      1    0    0    4   0    0   0   2   0    0
MI         0    0    0    2   0    0   1   3   0    0
MI+        0    0    0    4   0    0   1   0   1    0
RCB        1    1    0    4   0    1   1   0   1    0
RCB+       1    0    1    5   2    0   3   0   0    0
RR         1    0    0    0   0    3   2   0   0    0
RR+        0    0    1    6   0    0   2   0   0    0

COUNTRY-wise PLAYING ROLE-wise Count of Players:
PLAYING ROLE  Allrounder  Batsman  Bowler  W. Keeper
COUNTRY
AUS                    6        9       6          1
BAN                    0        0       1          0
ENG                    2        1       0          0
IND                    7       18      23          5
NZ                     4        2       0          1
PAK                    2        2       4          1
SA                     7        3       4          2
SL                     4        2       5          1
WI                     3        2       1          0
ZIM                    0        0       0          1

F)

In [13]:
top_10_players = df.sort_values(by='SOLD PRICE', ascending=False).head(10)

print("Top 10 Players by SOLD PRICE:")
print(top_10_players)

Top 10 Players by SOLD PRICE:
     Sl.NO.    PLAYER NAME  AGE COUNTRY   TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
93       94      Sehwag, V    2     IND     DD      Batsman    8178      40
127     128   Yuvraj Singh    2     IND  KXIP+      Batsman    1775       9
50       51       Kohli, V    1     IND    RCB      Batsman     491       0
111     112  Tendulkar, SR    3     IND     MI      Batsman   15470      45
113     114     Tiwary, SS    1     IND    MI+      Batsman       0       0
83       84  Pietersen, KP    2     ENG   RCB+      Batsman    6654       5
23       24    Flintoff, A    2     ENG    CSK   Allrounder    3845     226
15       16      Dhoni, MS    2     IND    CSK    W. Keeper    3509       0
108     109     Symonds, A    3     AUS    DC+   Allrounder    1462      24
110     111   Taylor, LRPL    2      NZ   RCB+      Batsman    2742       2

     ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
93         8090    104.68  ...  167.32      79     226     6   37.67  10.56
127        8051     87.58  ...  131.88      67     569    23   24.74   7.02
50         3590     86.31  ...  119.29      49     345     4   86.25   8.84
111       18426     86.23  ...  119.22      24      58     0    0.00   9.67
113          49     87.50  ...  119.60      32       0     0    0.00   0.00
83         4184     86.76  ...  141.20      30     215     7   30.71   7.41
23         3394     88.82  ...  116.98       2     105     2   52.50   9.55
15         6773     88.19  ...  136.45      64       0     0    0.00   0.00
108        5088     92.44  ...  129.87      41     674    20   33.70   7.70
110        3185     81.77  ...  130.28      45      24     0    0.00  12.00

     SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
93   21.67          2011      400000     1800000
127  21.13          2011      400000     1800000
50   58.50          2011      150000     1800000
111   0.00          2011      400000     1800000
113   0.00          2011      100000     1600000
83   24.86          2009     1350000     1550000
23   33.00          2009      950000     1550000
15    0.00          2008      400000     1500000
108  26.35          2008      250000     1350000
110   0.00          2008      400000     1000000

[10 rows x 26 columns]

G)

In [14]:
country_avg_price = df.groupby('COUNTRY')['SOLD PRICE'].mean()
country_max_price = df.groupby('COUNTRY')['SOLD PRICE'].max()
country_min_price = df.groupby('COUNTRY')['SOLD PRICE'].min()

country_stats = pd.DataFrame({
    'Average SOLD PRICE': country_avg_price,
    'Maximum SOLD PRICE': country_max_price,
    'Minimum SOLD PRICE': country_min_price
})

print("COUNTRY-wise SOLD PRICE Statistics:")
print(country_stats)

COUNTRY-wise SOLD PRICE Statistics:
         Average SOLD PRICE  Maximum SOLD PRICE  Minimum SOLD PRICE
COUNTRY
AUS            4.340909e+05             1350000               20000
BAN            5.000000e+04               50000               50000
ENG            1.066667e+06             1550000              100000
IND            6.523396e+05             1800000               24000
NZ             5.264286e+05             1000000              160000
PAK            3.305556e+05              675000              100000
SA             4.275000e+05              950000               50000
SL             4.237500e+05              975000              100000
WI             2.791667e+05              800000              100000
ZIM            1.250000e+05              125000              125000

H)

In [15]:
role_avg_price = df.groupby('PLAYING ROLE')['SOLD PRICE'].mean()
role_max_price = df.groupby('PLAYING ROLE')['SOLD PRICE'].max()
role_min_price = df.groupby('PLAYING ROLE')['SOLD PRICE'].min()

role_stats = pd.DataFrame({
    'Average SOLD PRICE': role_avg_price,
    'Maximum SOLD PRICE': role_max_price,
    'Minimum SOLD PRICE': role_min_price
})

print("PLAYING ROLE-wise SOLD PRICE Statistics:")
print(role_stats)

PLAYING ROLE-wise SOLD PRICE Statistics:
              Average SOLD PRICE  Maximum SOLD PRICE  Minimum SOLD PRICE
PLAYING ROLE
Allrounder         519571.428571             1550000               20000
Batsman            647435.897436             1800000               50000
Bowler             419977.272727              950000               24000
W. Keeper          487083.333333             1500000              100000

I)

In [16]:
role_avg_df = role_avg_price.reset_index()
role_avg_df.columns = ['PLAYING ROLE', 'Average SOLD PRICE']
role_max_df = role_max_price.reset_index()
role_max_df.columns = ['PLAYING ROLE', 'Maximum SOLD PRICE']
merged_role_df = pd.merge(role_avg_df, role_max_df, on='PLAYING ROLE')

print("PLAYING ROLE-wise Average and Maximum SOLD PRICE:")
print(merged_role_df)

PLAYING ROLE-wise Average and Maximum SOLD PRICE:
  PLAYING ROLE  Average SOLD PRICE  Maximum SOLD PRICE
0   Allrounder       519571.428571             1550000
1      Batsman       647435.897436             1800000
2       Bowler       419977.272727              950000
3    W. Keeper       487083.333333             1500000

J)

In [18]:
players_with_70_sixers = df[df['SIXERS'] > 70]['PLAYER NAME']
print("Players who have lifted more than 70 Sixers:\n", players_with_70_sixers)

Players who have lifted more than 70 Sixers:
 26        Gayle, CH
28    Gilchrist, AC
82       Pathan, YK
88        Raina, SK
93        Sehwag, V
97       Sharma, RG
Name: PLAYER NAME, dtype: object